* {
  transition: 0.3s;
}

.home__container {
  row-gap: 7.25rem;
}

.home__content {
  grid-template-columns: 116px repeat(2, 1fr);
  padding-top: 5.5rem;
  column-gap: 2rem;
  align-items: center;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon {
  font-size: 1.3rem;
  color: var(--title-color);
}

.home__social-icon:hover {
  transform: scale(1.4);
}

.home__name {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-0-25);
}

.home__hand {
  margin-left: 0.4rem;
  width: 30px;
}

.home__name:hover .home__hand {
  animation: wave 1s infinite;
  transform-origin: 50% 100%;
}

.home__job-description {
  position: relative;
  font-size: var(--h3-font-size);
  padding-left: 4.5rem;
  font-weight: var(--font-normal);
  margin-bottom: var(--mb-1);
}

.home__job-description::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  background: var(--text-color);
  left: 0;
  top: 1rem;
}

.home__summary {
  max-width: 400px;
  margin-bottom: var(--mb-3);
}

.home__img {
  background: url(../../assets/Me.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  box-shadow: inset 0 0 0 9px rgb(255 255 255/ 30%);
  order: 1;
  justify-self: center;
  filter: blur(0.5px);
  animation: profile__animate 8s ease-in-out infinite;
}

@keyframes profile__animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

/* wave animation */
@keyframes wave {
  0% {
    transform: rotate(15deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

/* SVG animation */
/* svg path {
  stroke-width: 1;
  stroke: var(--container-color);
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
}

.button:hover path {
  animation: draw 1s linear forwards;
}

@keyframes draw {
  0% {
    stroke-dasharray: 20;
  }
  40% {
    stroke-dasharray: 35;
  }
  80% {
    stroke-dasharray: 55;
  }
  100% {
    stroke-dasharray: 70;
  }
} */

.home__scroll {
  margin-left: 9.25rem;
}

.wheel {
  animation: scroll 2s ease infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(3.75rem);
  }
}

.home__scroll-name {
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
  margin-left: 2px;
}

.home__scroll-arrow {
  font-size: 1.25rem;
  color: var(--title-color);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .home__content {
    grid-template-columns: 100px repeat(2, 1fr);
    column-gap: 1.25rem;
  }
  .home__name {
    font-size: 2.2rem;
    letter-spacing: -1px;
  }
  .home__hand {
    width: 25px;
  }
  .home__job-description {
    padding-left: 3.75rem;
    margin-bottom: var(--mb-1);
  }
  .home__job-description::before {
    width: 42px;
    top: 0.8rem;
  }
  .home__summary {
    max-width: initial;
    margin-bottom: var(--mb-2-5);
  }
  .home__img {
    width: 250px;
    height: 250px;
    box-shadow: inset 0 0 0 7px rgb(255 255 255/ 30%);
  }
  .home__scroll {
    margin-left: 7.5rem;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .home__content {
    grid-template-columns: 0.5fr 3fr;
    padding-top: 3.5rem;
  }
  .home__img {
    margin-bottom: 1.75rem;
    width: 200px;
    height: 200px;
    box-shadow: inset 0 0 0 6px rgb(255 255 255/ 30%);
    order: initial;
    justify-self: initial;
  }
  .home__data {
    grid-column: 1/-1;
  }
  .home__scroll {
    display: none;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .home__img {
    width: 180px;
    height: 180px;
  }
  .home__hand {
    width: 20px;
  }
}
